<?xml version="1.0"?>
<!--
/**
 * @category   Divalto
 * @package    Divalto_ExtraPrice
 * @subpackage etc
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Divalto" translate="label" sortOrder="999">
            <label>Divalto</label>
        </tab>
        <section id="extraprice" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Extra Price</label>
            <tab>Divalto</tab>
            <resource>Divalto_ExtraPrice::config_extraprice</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attribute_code" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom attribute code</label>
                    <comment>Leave empty for using this default product attribute code : "extra_price_unit_amount".</comment>
                </field>
                <field id="round_precision" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Round precision</label>
                    <comment>Leave empty for using default precision.</comment>
                </field>
            </group>
        </section>
    </system>
</config>